build
.metadata
bin
target
.svn
*~
*.class
*.jasper
*.bak
.project
*.log
.project
.classpath
.settings
src/main/resources/reports/jrxml/*.pdf
nbproject/private/private.properties
lib/nblibraries.properties
lib/CopyLibs
*.iml
.idea
out
nb-configuration.xml
src/main/jasperreports/*.pdf
activemq-data
src/main/webapp/META-INF/context.xml
.vagrant
.DS_Store